:root {
  --color-bg: hsl(212, 45%, 89%);
  --color-white: hsl(0, 0%, 100%);
  --color-title: hsl(218, 44%, 22%);
  --color-description: hsl(216, 15%, 48%);
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-bg);
}

.qr-container {
  display: grid;
  place-items: center;
  padding-block-start: clamp(4rem, 5vw, 8rem);
}

.qr-card {
  border: 1rem solid var(--color-white);
  border-radius: 1.25rem;
  max-width: 20rem;
  background-color: var(--color-white);
}

.qr-card__image {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.qr-card__content {
  text-align: center;
  padding: 0 1rem;
}

.qr-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-title);
}

.qr-card__description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-description);
}

.footer {
  padding-block-start: clamp(1rem, 2vw, 2rem);
  text-align: center;
}

@media (min-width: 48rem) {
  .qr-card {
    max-width: 360px; 
  }

  .qr-card__title {
    font-size: 1.75rem;
  }

  .qr-card__description {
    font-size: 1.125rem;
  }
}

